.activity-container {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  padding-inline-start: 0px;
  gap: 15px;
}

.activity {
  display: flex;
  flex-direction: row;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  background-color: aliceblue;
  text-align: left;
  padding: 15px;
}
