form {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  gap: 5%;
}

h2 {
  text-align: left;
}

.name {
  padding: 10px;
  width: 100%;
  background-color: rgba(228, 223, 223, 0.6);
}

label {
  padding: 0px;
}

.check {
  width: 30px;
  padding: 0px;
}
/* @media only screen and (max-width: 600px) {
  input {
    width: 30vw;
  }
} */
