li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;

  text-align: left;
  padding: 15px;
  padding-right: 25px;
}

.activity {
  display: flex;
  flex-direction: row;
}

.activity-container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding-inline-start: 0px;
  gap: 15px;
}
